
header {
    flex: 0 0 auto;
    
}

.header {
    display: flex;
    height: clamp(80px, 10vw + 60px, 100px);
    background: $black;

    // &__container {
    // }

    // &__logo {
    // }

    // &__logo-link {
    // }

    // &__logo-image {
    // }

    // &__nav {
    // }

    // &__list {
    // }

    // &__item {
    // }

    // &__link {
    // }

    // &__sub-list {
    // }

    // &__sub-item {
    // }

    // &__sub-link {
    // }

    // &__right-side {
    // }

    // &__search {
    // }

    // &__search-input {
    // }

    // &__search-btn {
    // }

    // &__favorite {
    // }

    // &__favorite-btn {
    // }

    // &__cart {
    // }

    // &__cart-btn {
    // }

    // &__cart-badge {
    // }

    // &__cart-total {
    // }
}
